body{
	  font-family: "Open Sans";
      font-size: 14px;
}

.container {
  width: 600px;
  margin: 25px auto;

}

h1{
	text-align: center;
}
form {
  padding: 20px;
  background: #2c3e50;
  color: #fff;
  border-radius:4px;
  display: block;
  padding-left: 25px;
  padding-right: 25px;

}

label{
    
    width: 50%;
}
#sm{
	height: 30px;
   width: 25%;
    background: #e67e22;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  
}
#sm2{
  height: 25px;
  width: 100px;
  background:#e67e22;
  color: #fff;
    margin-top: 10px;
    cursor: pointer; 
}
#login,button{
    height: 30px;
   width: 25%;
    background: #e67e22;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  
}
.table{
  width: 100%;
}

tr{
  width: 100%;
}
/*#login_message {
  font-size: 15px;
  font-family: Arial;
  color: #FF0052;
  font-weight: bold;

}*/
.a{
	margin: 20px;
}
.error {
    color: #ff0000;
  }
span{
  color:  #FFFF00;
}
tr,th{
  width: 25px;
}

